<header class="masthead">
	<nav class="language-nav">
		<ul>
			<li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a></li>
			<li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</a></li>
            <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScriptJavascript">JAVASCRIPT</a></li>
            <li><a href="https://www.ruby-lang.org/en/">ruby</a></li>
		</ul>
	</nav>

  <nav class="logo">
	<img src="<%= asset_path('AA_Times_Logo.png') %>" alt="AA_Times_Logo">
	</nav>

	<nav>
		<ul class="masthead-links">
			<li><time>Friday, January 10, 2020</time></li>
      	    <li>
                <i class="far fa-newspaper"></i>
					<a href="https://www.theonion.com/">Today’s Paper</a>
            </li>
            <li>
				<i class="fas fa-video"></i>
					<a href="https://youtu.be/QH2-TGUlwu4">Video</a>
            </li>
      		<li><button>77°F</button></li>
      		<li><button>AAO <strong>+100%</strong></button></li>
		</ul>
	</nav>
</header>

