<header class="sections-nav">
  <ul>
    <li><a href="http://localhost:3000/">World</a></li>
    <li><a href="http://localhost:3000/">San Francisco</a></li>
    <li><a href="http://localhost:3000/">New York</a></li>
    <li><a href="http://localhost:3000/">Bootcamp Prep</a></li>
    <li><a href="http://localhost:3000/">Jumpstart</a></li>
    <li><a href="http://localhost:3000/">Online</a></li>
    <li><a href="http://localhost:3000/">Marketing</a></li>
    <li><a href="http://localhost:3000/">Sales</a></li>
    <li><a href="http://localhost:3000/">TalentMatch</a></li>
    <li><a href="http://localhost:3000/">Alumni</a></li>
    <li><a href="http://localhost:3000/">All</a></li>
  </ul>

</header>